body {
  background-color: rgba(255, 233, 216, 0.932);
}

h1 {
  color: white;
  background-color: rgb(44, 163, 137);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: size 60px;
  text-shadow: 2px 2px 4px;
  border: 2px solid silver;
  padding: 10px 
  
}

.topnav {
background-color: rgb(44, 163, 137);
overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color:rgb(240, 240, 240);
  color:black;
}

.topnav a.active {
  background-color: rgb(240, 240, 240);
  color:black;
}
h2  {
  text-align: center;
  color:black;
  
}

h3  {
  text-align: center;
  color: black;  
}

p {
  font-family: verdana;
  font-size: 15px;
  text-align: center;
  color: black;
}

a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}