body {
  background-color: rgb(221, 246, 255);
}

h1 {
  color: #000000;
  background-color: pink;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: size 60px;
  border: 2px solid pink
  
}

h2  {
  text-align: center;
  color:crimson
  
}

h3  {
  text-align: center;
  color:darkslategrey  
}

p {
  font-family: verdana;
  font-size: 15px;
  text-align: center;
}

a {
  text-align: center;
}