body {
  background-color: rgba(241, 241, 241, 0.932);
}

h1 {
  width: 60%;
  color: white;
  background-color: purple;
  text-align: center;
  font-family: 'optima', sans-serif;
  font-size:  50px;
  border-left: 4px solid rgb(75, 0, 75);
  border-bottom: 4px solid rgb(75, 0, 75);
  padding: 14px 18px;
  margin-left: auto;
  margin-right: auto;
}

.topnav {
  width: 80%;
  background-color: purple;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.topnav a {
  float: left;
  color: white;

  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-family:'optima', sans-serif;
  font-size: 35px;
}

.topnav a:hover {
  background-color:rgb(240, 240, 240);
  color:black;
}

.topnav a.active {
  background-color: rgb(240, 240, 240);
  color:black;


}
h2  {
  text-align: center;
  color:rgb(75, 0, 75);
  margin-bottom: 40px;
  font-size: 45px;
  
}

h3  {
  text-align: center;
  color: rgb(75, 0, 75);  
  font-size: 35px;
}

p {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-family: verdana;
  font-size: 15px;
  text-align: center;
}

table {
  width: 50%;
  padding: 15px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

th {
  color: rgb(75, 0, 75);
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  border-left: 2px solid rgb(75, 0, 75);
  border-bottom: 2px solid rgb(75, 0, 75);
  text-align: center;
}

td  {
    font-size: 20px;
    padding: 15px;
    border-left: 2px solid rgb(75, 0, 75);
    border-bottom: 2px solid rgb(75, 0, 75);
    text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.secondpage {
  align-items: center;
  justify-content: center;
}

image1 {
  display:block;
  max-width: 100%;
  max-height: 100%;
  float: left;
  margin-bottom: 50px; 
}

.text {
  font-size: 40px;
  block-size: 40%;
  float: left;
  text-align: center;
  border-left: 5px solid rgb(75, 0, 75)
}


a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
}